pip==23.2.1
pandas
numpy>=1.21.0
scipy
urllib3
tsfresh==0.17.0
six
protobuf
matplotlib
coinmetrics
tensorflow
datetime
sktime
altair
altair_data_server
fastdtw
fastcluster==1.1.27
dtaidistance==2.2.1
